header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 1rem
}

header h1 {
    font-size: 5vw;
}

header p {
    font-size: 1.5vw;
}

main {
    height: 100vh;
}

.test {
    height: 50vh;
}

main img {
    width: 1500px;
}